<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add User Resume Info</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="css/forms.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">
                                <form class="well form-horizontal" th:action="@{/addRoomInfo}" th:object="${newRoom}" method="post">

                                    <fieldset>

                                        <!-- Form Name -->
                                        <legend align="Center">Enter Avalibility Information</legend>

                                        <!-- Text input-->
                                        <div  th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="well alert alert-danger" role="alert">You Must enter a valid Description!</div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Description</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input  th:field="*{description}" name="description" placeholder="Enter Description" class="form-control"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div  th:if="${#fields.hasErrors('rules')}" th:errors="*{rules}" class="well alert alert-danger" role="alert">You Must enter a Rules!</div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Rules</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input  th:field="*{rules}" name="rules" placeholder="Enter Rules" class="form-control"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                       <div  th:if="${#fields.hasErrors('wifi')}" th:errors="*{wifi}" class="well alert alert-danger" role="alert">You Must Select one of it!</div>


                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Wifi</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-signal"></i></span>
                                                         <p><input type="checkbox" name="wifi" th:checked="${newRoom.wifi}" />Yes
                                                          <input type="checkbox" name="wifi" th:checked="${newRoom.wifi}" />No</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div  th:if="${#fields.hasErrors('cable')}" th:errors="*{cable}" class="well alert alert-danger" role="alert">You Must Select one of it!</div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Cable</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-signal"></i></span>
                                                    <p><input type="checkbox" name="cable" th:checked="${newRoom.cable}" /><strong>Yes</strong>
                                                        <input type="checkbox" name="cable" th:checked="${newRoom.cable}" /><strong>No</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div  th:if="${#fields.hasErrors('pvBathroom')}" th:errors="*{pvBathroom}" class="well alert alert-danger" role="alert">You Must Select one of it!</div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Private Bathroom</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <p><input type="checkbox" name="pvBathroom" th:checked="${newRoom.pvBathroom}" />None
                                                        <input type="checkbox" name="pvBathroom" th:checked="${newRoom.pvBathroom}" />Basic
                                                        <input type="checkbox" name="pvBathroom" th:checked="${newRoom.pvBathroom}" />Premium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div  th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}" class="well alert alert-danger" role="alert">You Must enter a valid Availability!</div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Availability</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                    <input  th:field="*{availability}" name="availability" placeholder="Enter Availability" class="form-control"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"></label>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-success" >Submit<span class="glyphicon glyphicon-save"></span></button>
                                                <button type="reset" class="btn btn-warning" >Reset<span class="glyphicon glyphicon-remove-circle"></span></button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

</body>
</html>
