<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Display Owner Info</title>
</head>

<body>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">
                                <form class="well form-horizontal" th:action="@{/dispOwnerIfo}" th:object="${newPerson}" method="">

                                    <fieldset>

                                        <!-- Form Name -->
                                        <legend align="Center">Owner Information:</legend>

                                        <!-- Text input-->


                                        <div class="form-group">
                                            <label class="col-md-4 control-label">First Name</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newPerson.firstname}" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Last Name</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newPerson.lastname}" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">E-Mail</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newPerson.email}" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Phone</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newPerson.phone}" />
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Button -->
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <p><a href="addRoomInfo"><strong>Enter Room(Apartment) Information</strong></a></p>
                                                <p><a th:href="@{/updateOwner/{id}(id=${newPerson.id})}">Update</a></p>

                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>

</body>

</html>
