
<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Rooms Info</title>
</head>
<body>

<!-- Header -->
<div th:replace="base :: navlinks"></div>
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">
                                <form class="well form-horizontal" th:action="@{/dispAllRooms}" th:object="${searchPerson}" method="">
                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend align="Center"><h2><strong>Application </strong></h2></legend>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">First Name</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${searchPerson.firstname}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Last Name</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${searchPerson.lastname}" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">E-Mail</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${searchPerson.email}" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Phone</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${searchPerson.phone}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="bs-callout bs-callout-success">
                                                <table class="table table-striped">
                                                    <caption> <h4><b>Room Information</b></h4></caption>
                                                    <thead>
                                                    <tr>
                                                        <th>Description</th>
                                                        <th>Rules</th>
                                                        <th>Wifi</th>
                                                        <th>Cable</th>
                                                        <th>Private Bathroom</th>
                                                        <th>Availability</th>
                                                        <th>Functionality</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody align="left">
                                                    <tr th:each="roomsList : ${searchPerson.roomArrayList}">
                                                        <td th:text="${roomsList.description}"></td>
                                                        <td th:text="${roomsList.rules}" ></td>
                                                        <td th:text="${roomsList.wifi}"></td>
                                                        <td th:text="${roomsList.cable}"></td>
                                                        <td th:text="${roomsList.pvBathroom}"></td>
                                                        <td th:text="${roomsList.availability}"></td>
                                                        <td>
                                                            <a th:href="@{/updateRoom/{id}(id=${roomsList.id})}">Update</a>
                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="form-group"align="center">
                                             <div class="col-md-4" align="center">
                                                <p><a href="addRoomInfo"><strong>Add More Room Information</strong></a></p>

                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</header>
</body>
</html>