<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Display Room Info</title>
</head>
<body>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">
                                <form class="well form-horizontal" th:action="@{/dispRoomIfo}" th:object="${newRoom}" method="">

                                    <fieldset>

                                        <!-- Form Name -->
                                        <legend align="Center">Your Information:</legend>

                                        <!-- Text input-->


                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Description</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newRoom.description}" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Rules</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newRoom.rules}" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Wifi</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newRoom.wifi}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Cable</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newRoom.cable}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Private Bathroom</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newRoom.pvBathroom}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Availability</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <p th:text="${newRoom.availability}" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <p><a href="dispAllRooms"><strong>All Rooms  Information</strong></a></p>
                                                <p><a href="Rent"><strong>All Rooms  which has been Rented Information</strong></a></p>
                                                <p><a href="notRentInfo"><strong>All Rooms  which has not been Rented Information</strong></a></p>
                                                <p><a th:href="@{/updateRoom/{id}(id=${newRoom.id})}">Update</a></p>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>

</body>

</html>
