<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">

    <title>Index</title>

</head>

<body>
<div th:replace="base :: navlinks"></div>
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Welcome to Dave Apartment Registration Application Form</h1>
            <br>
            <a href="addOwnerInfo" class="btn btn-dark btn-lg"><strong>Click Here</strong></a>
        </div>
    </header>

</body>

</html>
